@charset "UTF-8";
header {height: 100px;}
#logo {text-decoration: none; color: #666; font-weight: 100;}
nav {height: 40px; background-color: #cd853e;}
nav .nav-item:hover {background-color: #d16a1e;}
.contents {min-height: 230px;}
.reserve {height: 230px; color: #fff;}
.reserve .reserve-real-time {background-color: #a1522c; color: #fff;}
#reserveHref {color: #fff; text-decoration: none;}
.reserve .reserve-check {background-color: #d16a1e;}
.reserve .reserve-inqury {background-color: #a1522c;}
.idPw {font-size: 14px; font-weight: 600; text-align: end;}
footer {height: 80px;}
.copyright {font-size: 12px; color: #999; font-weight: bold;}