@charset "UTF-8";
.contents {min-height: 400px;}
nav {background-color: cornflowerblue;}
footer {height: 100px;}


.menu-font {
    color:white;
    font-size:17px;
    font-weight: bold;
}

.menu-font:hover {
    color:white;
    border: 2px solid white;
}